<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static',filename='images/icon.ico')}}">
    <title>Welcome</title>

    <!-- style {start} -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/wave.css')}}">
    <link href="{{url_for('static',filename='css/cover.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/cursor.css')}}" rel="styleshhet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/loginP.css')}}">    
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <!-- style{end} -->

    <!--script{start}-->
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='bootstrap/js/jquery.js')}}"></script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <!--script{end}-->
</head>
<div class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div>
            <h3 class="float-md-start mb-0">Ayush Ghatkar</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a class="nav-link hover" aria-current="page" href="/">Home</a>
              <a class="nav-link active" href="/join">Join Me</a>
              <a class="nav-link hover" href="/contact">Contact</a>
              <a class="nav-link hover" href="/about">About Me</a>
            </nav>
        </header>
    </div>
</div>
<body>

<img class="wave" src="{{url_for('static',filename='images/wave.png')}}">
	<div class="container">
		<div class="img">
			<img src="{{url_for('static',filename='images/bg.svg')}}">
		</div>
		<div class="login-content">
			<form action="jm.html">
				<img src="{{url_for('static',filename='images/avatar.svg')}}">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
   
   <script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
    <div class="cursor"></div>
    <div class="cursor2"></div>
    <script>
        var cursor = document.querySelector(".cursor");
        var cursor2 = document.querySelector(".cursor2");
        document.addEventListener("mousemove",function(e){
            cursor.style.cssText = cursor2.style.cssText = "left: " + e.clientX + "px; top: " + e.clientY + "px;";
        });
    </script>
</body>
</html>






















